.avatar {
  background-color: #000;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation-name: avatar-fade-in;
  animation-duration: 2s;
}

.avatar__letter {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

@keyframes avatar-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
