.card {
  width: 300px;
  height: 165px;
  background-color: var(--white);
  box-shadow: 0px 0px 5px #cccccc;
  position: relative;
  border-radius: 5px;
  cursor: move;
  border: 1px solid var(--grey-l);
}

.card__header {
  overflow: hidden;
  padding: 10px;
}

.card__header__inner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card__avatar {
  padding: 14px;
}

.card__title {
  overflow: hidden;
  padding-right: 14px;
}

.card__name {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__occupation {
  font-size: 1.2rem;
  color: var(--grey-l);
  font-weight: bold;
  margin: 0 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__metrics {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.card__conversion__chart {
  padding: 14px;
}

.card__conversion__numbers {
  padding: 14px;
  text-align: right;
}

.card__conversion__impressions {
  color: var(--orange);
  font-weight: 600;
}

.card__conversion__conversions {
  color: var(--blue);
  font-weight: 600;
}

.card__conversion__revenue {
  color: var(--green);
  font-weight: 600;
  font-size: 2rem;
}

.card label {
  color: var(--grey-l);
  font-size: 1.2rem;
  display: block;
}
