.grid {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.grid--item {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 8px;
  border: 0;
}

.grid--sort--item {
  border: 2px dashed var(--grey-l);
}
