.header {
  background-color: var(--white);
  padding: 2rem;
  box-shadow: 1px 1px 5px var(--grey-l);
  background-image: url("../gfx/tune-logo.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 20px center;
}
