.loading {
  background-color: var(--white);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading--logo {
  background-image: url('../gfx/tune-logo.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center center;
  height: 100px;
  width: 100vw;
}

.loading--animation {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading--animation:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #666666;
  border-color: #666666 transparent #e2e2e2 transparent;
  animation: loading--animation 0.5s linear infinite;
}
@keyframes loading--animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
