:root {
  --black: #06294a;
  --white: #f9f9f9;
  --grey: #666666;
  --grey-l: rgb(153, 153, 153);
  --grey-xl: #e6e6e6;
  --orange: #fe9000;
  --blue: #3c6997;
  --green: #26af7b;
  --yellow: #ffdd4a;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-size: 1.6rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

label {
  color: var(--grey-l);
  font-size: 1.2rem;
  display: block;
}
.select select {
  font-size: 1.3rem;
  color: var(--grey);
  background-color: var(--grey-xl);
  border: 0;
  opacity: 0.75;
  appearance: none;
  padding: 0.75rem 2.5rem 0.75rem 1.5rem;
}

.select {
  position: relative;
}

.select::after {
  content: '\25BC';
  display: block;
  position: absolute;
  top: 9px;
  right: 7px;
  font-size: 1.2rem;
  opacity: 0.2;
}
